{% include "_partials/_header.html" %}

<section class="first-labos">
    <div class="wrapper">
        <h3>Mes premiers <span>laboratoires</span></h3>
        <div class="cartes">
        <div class="carte">
            <div class="carte-media">
                <img src="assets/images/Image.jpg" alt="labo1">
            </div>
            <div class="carte-content">
                <h4>SEM 01 - RÉVISION</h4>
                <h5 class="under-title">Lorem ipsum dolor sit amet, consectetur <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span></h5>
                <p>HTML + CSS</p>
                <div class="button">
                    <a href="#">VOIR LE LABORATOIRE</a>
                    <svg class="icon">
                        <use href="#icon-chevron-right"></use>
                    </svg>
                </div>
            </div>
        </div>
        <div class="carte">
                <div class="carte-content">
                <h4>SEM 02 - TIMTOOLS</h4>
                <h5 class="under-title">Lorem ipsum dolor sit amet, consectetur <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span></h5>
                <p>SCSS</p>
                <div class="button">
                    <a href="#">VOIR LE LABORATOIRE</a>
                    <svg class="icon">
                        <use href="#icon-chevron-right"></use>
                    </svg>
                </div>
            </div>
            <div class="carte-media">
                <img src="assets/images/Image.jpg" alt="labo2">
            </div>

        </div>        
        <div class="carte">
            <div class="carte-media">
                <img src="assets/images/Image.jpg" alt="labo3">
            </div>
            <div class="carte-content">
                <h4>SEM 03 - PORTFOLIO LOUIS LAJOIE</h4>
                <h5 class="under-title">Lorem ipsum dolor sit amet, consectetur <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span></h5>
                <p>HTML + SCSS</p>
                <div class="button">
                    <a href="#">VOIR LE LABORATOIRE</a>
                    <svg class="icon">
                        <use href="#icon-chevron-right"></use>
                    </svg>
                </div>
            </div>
        </div>        
        <div class="carte">
            <div class="carte-content">
                <h4>SEM 04 - ICÔNES ET CLASSES JS</h4>
                <h5 class="under-title">Lorem ipsum dolor sit amet, consectetur <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span></h5>
                <p>SCSS + JAVASCRIPT</p>
                <div class="button">
                    <a href="#">VOIR LE LABORATOIRE</a>
                    <svg class="icon">
                        <use href="#icon-chevron-right"></use>
                    </svg>
                </div>
            </div>
            <div class="carte-media">
                <img src="assets/images/Image.jpg" alt="labo4">
            </div>
            
        </div>
    </div>
    </div>
</section>
<section class="reactif-labos">
    <div class="wrapper">
       <h3 class="reactif">Mes <span>laboratoires réactifs</span></h3> 
    </div>
</section>

{% include "_partials/_footer.html" %}
